---
import { getCollection } from "astro:content";

import BaseLayout from "@layouts/BaseLayout.astro";

const blogroll = await getCollection("blogroll");
---

<BaseLayout title="thinety - Blogroll">
  <h1 class="mb-4 text-center text-xl">Blogroll</h1>
  <ul class="flex flex-col gap-4">
    {
      blogroll.map((post) => (
        <li>
          <div class="text-gray-500">
            {post.data.date.toDateString().split(" ").slice(1).join(" ")},
            {new URL(post.data.link).hostname}
          </div>
          <a class="text-red-700" href={post.data.link}>
            {post.data.title}
          </a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
